@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
/* Локальне підключення шрифтів */
@import url("reset.css");
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* .... */
/* Скидання стилів */
/* Основні стилі */
body {
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-size: 1.125rem;
  background-color: #333;
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* --------------------- */
[class*=__container] {
  max-width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
}

[class*="--margin"] {
  margin-bottom: 20px;
}

.page {
  padding-block: 15px;
}

/* --------------------- */
span {
  opacity: 0;
  display: inline-block;
  -webkit-animation: text 1s linear forwards;
          animation: text 1s linear forwards;
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -1.25rem);
            transform: translate(0px, -1.25rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes text {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -1.25rem);
            transform: translate(0px, -1.25rem);
  }
  100% {
    opacity: 1;
  }
}